# Python
__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
.venv/
venv/
env/

# VS Code
.vscode/

# Logs
*.log

# Bases de données locales
*.db

# Variables d'environnement
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml